<section class="mapping">
    <div class="map">
        <img src="/images/hp-1-map-1.jpg" alt="map">
        <div id="ECS">
            <h2>EXCELLENT COURIER SERVICES (ECS)</h2>
            <p>EXCELLENT COURIER SERVICES (ECS) is the most desirable and fastest growing attestation and courier firm in Pakistan, serving for the complete solution under one roof. <b>Genuine attestation, carefully handling of documents and prompt delivery</b> are just three reasons why ECS reigns supreme in the world of Attestation.</p>
        </div>
    </div>
</section>
<section class="services">
    <div class="service-box">
  
        <img src="/images/shutterstock_552808813-1.jpg" alt="Container and Truck" class="left-image">
        
        <div class="right-content">
       
            <div class="text-img">
                <img src="/images/about-team-title-bg.jpg" alt="Behind text" class="right-image">

                <div class="service-text">
                    <p>ECS is involved in all aspects of courier services such as domestic air transit deliveries,
                        international air transit deliveries, ground deliveries, messengers, and local deliveries et al.</p>
                    <p>Our client’s best interest comes first, and everything we do is guided by our values and
                        professional ethics. We ensure that we hold ourselves accountable to the highest standards by
                        delivering excellent and neat jobs and also meeting our client’s needs precisely and completely.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <img src="/images/owais-logo-01-scaled (1).jpg" alt="Courier man with package">
    <div class="text-container">


        <h2 id="request">Request a Free Quote</h2>

        <div class="time">
            <p>
                We will get back to you within 24 hours in
                Monday – Friday / 09:00 – 18:00
            </p>
        </div>
        <div class="contact">

            <h3 id="callus">Or call us
                <p>+92-51-2801200</p>

            </h3>
        </div>

        <div class="form">
            <form>
                <ol>
                    <label for="name" Name:>
                        <input type="text" id="name" name="name" placeholder="Full Name*" required>
                    </label>
                    <label for="email" Email:>
                        <input type="email" id="email" name="email" placeholder="Email*" required>
                    </label>
                    <label for="tel_no" Tell no:></label>
                    <input type="tel" id="tel_no" name="tel" placeholder="phone no*" required>
                    <label for="cargotype" Cargo:></label>
                    <input type="text" id="cargotype" name="cargo" placeholder="Cargo Type" required>
                    <label for="region" Region:></label>
                    <input type="text" id="region" name=" region" placeholder="Country of region" required>
                    <label for="destination" destination:>
                        <input type="text" id="destination" name="destination" placeholder="Destination" required>
                    </label>
                    <label for="quantity" Quantity:>
                        <input type="text" id="quantity" name="quantity" placeholder="Quantity" required>
                    </label>
                    <label for="weight" Weight:>
                        <input type="number" id="weight" name="Weight" placeholder="Weight" required>
                    </label>
                    <label for="width" Width:>
                        <input type="number" id="width" name="Width" placeholder="Width" required>
                    </label>
                    <label for="height" Height:>
                        <input type="number" id="height" name="height" placeholder="Height" required>
                    </label>
                    <label for="submit" Submit:>
                        <input type="submit" value="Submit now">

                    </label>
                </ol>






            </form>
        </div>




    </div>

    </div>
</section>
<section class="testimonial">

    <img src="/images/hp-testimonial-bg.jpg" alt="testimonial">

    <div>
        <h5> WHAT THEY SAY</h5>

        <h4> Client’s Testimonial</h4>

        <p>Our commitment to sustainability helps us reduce waste and share the benefits with
            our customers. It permeates the way we do business, driving us to innovate.</p>


    </div>

</section>