<footer class="ecs-footer">
    <div class="footer-content">
        <div class="footer-logo-description">
            <div class="footer-logo">
                <img src="/images/ecs-new-logo (1).png" alt="ECS Logo" class="ecs-logo">
            </div>
            <p class="footer-description">
                For the fastest and reliable delivery of documents and parcels, ECS network has spread over 20 divisional headquarters nationwide with its access to more than 50 major locations.
            </p>
        </div>
        
        
        
        <div class="footer-contacts">
            <div class="contact-office">
                <h4><i class="fas fa-map-marker-alt"></i> Head Office</h4>
                <p>Office No. 20/22 E, Mezzanine Floor, Saeed Plaza, Jinnah Avenue, Blue Area, Islamabad</p>
            </div>
            
            <div class="contact-office">
                <h4><i class="fas fa-map-marker-alt"></i> Abpara Office</h4>
                <p>Shop No.1, Lower Ground “F & F Mall” Abpara Near DHL, Sector G-6, 1/3 Islamabad</p>
            </div>
            <div class="contact-info">
                <h4><i class="fas fa-phone"></i> Call Now</h4>
                <p>+92-51-2801200, +92-51-2120691</p>
            </div>
            <div class="contact-info">
                <h4><i class="fas fa-envelope"></i> Email</h4>
                <p><a href="mailto:info@ecs.com.pk">info@ecs.com.pk</a></p>
            </div>
        </div>
        <div class="social-media-icons">
            <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 ECS Courier Services. All rights reserved.</p>
        <p>Terms of Service | Privacy Policy</p>
    </div>
</footer>

