<div class="top-bar">
    <div class="location dropdown">
        <span>Islamabad &#9662;</span>
        <ul class="dropdown-content">
            <li><a href="#">Lahore</a></li>
        </ul>
    </div>
    <div class="contact-info">
        <i class="fas fa-envelope"></i>
        <a href="mailto:info@ecs.com.pk">info@ecs.com.pk</a>
        <span>|</span>
        <i class="fas fa-phone"></i>
        <a href="tel:+92512801200">+92-51-2801200</a>
    </div>
    <div class="social-media">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
    <div class="quote-button">
        <a href="#">Get A Quote</a>
    </div>
</div>