<div class="header-content">
    <div class="logo">
        <img src="/images/ecs-new-logo (1).png" alt="ECS Logo">
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">UAE Embassy</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Tracking</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">My Account</a></li>
           
        </ul>
    </nav>
    <div class="search-icon">
        <a href="#">
            <i class="fas fa-search"></i> 
        </a>
    </div>
</div>

</header>